<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static/itsminenow.css" />

</head>

<body>
<nav>
  <h1>Reading Level Calculator</h1>
</nav>


{% block content %}
  <form method="get">
    <label for="text">Enter text:</label>
    <input name="text" id="text" type=text value="{{ t['text'] }}" required><br>
    <label for="age">The recommended reading age is:</label>
    <input name="age" id="age" type=text value="{{ t['age']}}"><br>
    <input type="submit" value="Go">
    <p>If you want to use json put something like '/?json=1&text=something' in the URL after the 5000</p>
  </form>
{% endblock %}

<p>You have used this page {{ times }} times</p>

<a href="{{ url_for('logout') }}">Reset Session</a>

</body>
